<p id="notice"><%= notice %></p>
<div class = "ProjectInfo">
	<p>
	  <strong>Title:</strong>
	  <%= @project.title %>
	</p>

	<p>
	  <strong>Completed:</strong>
	  <%= @project.completed %>
	</p>

	<p>
	  <strong>Post:</strong>
	  <%= @project.post %>
	</p>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>



<div class = "ToDoList">
	<% @project.items.each do |item| %>
	<p>
		<%= item.title  %>
	</p>
	<p>
		<%= item.description  %>
	</p>
	<% end %>
</div>

<%= link_to "Add something to do for: #{@project.title}", new_project_item_path(@project)  %>